{% extends 'base.html' %}
{% block conteudo %}
    <h2 style="text-align: center;">Nota dos alunos</h2>
    <hr>
        <form class="form-group" action="{{url_for('diario')}}" method="POST">
            <label for="">Aluno</label>
            <input class="form-control" type="text" name="aluno" required>
            <label for="">Nota</label>
            <input class="form-control" type="text" name="nota" required>
            <button class="btn btn-success">ADD</button>
        </form>
 
        {% for registro in registros %}
            <p>
                <a class="btn btn-secondary" data-toggle="collapse" href="#collapse_{{registro.aluno}}" role="button" aria-expanded="true" aria-controls="#collapse_{{registro.aluno}}">
                    {{registro.aluno}}
                </a>
            </p>
            <div class="collapse" id="collapse_{{registro.aluno}}">
                <div class="card card-body">
                    {{registro.nota}}
                </div>
            </div>
        {% endfor %}
{% endblock  %}